/* Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", san-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2D3440;
}

.body-pink {
  background-color: #FEAFC3;
}

.body-blue {
  background-color: #69A9FF;
}

.body-yellow {
  background-color: #FCC850;
}

a {
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0;
  border: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

/* btn */
.btn {
  margin: 0;
  padding: 0;
  border-radius: 26px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  background-repeat: no-repeat;
}

.btn--transparent {
  background-color: rgba(252, 252, 252, .3);
}

.btn--transparent:hover {
  background-color: rgba(252, 252, 252, .5);
}

.btn--transparent:focus {
  background-color: rgba(252, 252, 252, .5);
  outline: 2px solid #2D3440;
}

.btn--transparent:active {
  background-color: rgba(252, 252, 252, 1);
}

.btn--transparent:disabled {
  background: #FCFCFC;
  outline-color: rgba(185, 185, 185, .3);
  color: #2D3440;
  opacity: .4;
}

.btn--white {
  color: #2D3440;
  font-weight: 700;
  background-clip: padding-box;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, .4);
  box-shadow: 0 4px 12px 1px rgba(45, 52, 64, .1);
}

.btn--white:hover {
  background-color: rgba(252, 252, 252, .4);
  outline-color: #FCFCFC;
}

.btn--white:focus {
  background-color: rgba(252, 252, 252, .5);
  outline: 2px solid #2D3440;
}

.btn--white:active {
  background-color: rgba(252, 252, 252, 1);
}

.btn--white:disabled {
  background: #E7E7E7;
  outline-color: rgba(252, 252, 252, .4);
  color: #B9B9B9;
  font-weight: 400;
}

.btn--pink {
  color: #FCFCFC;
  font-weight: 700;
  background-clip: padding-box;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, .3);
  box-shadow: 0 4px 12px 1px rgba(45, 52, 64, 0.1);
}

.btn--pink:hover {
  background-color: rgba(252, 252, 252, .3);;
  outline-color: #FF2F64;
  color: #2D3440;
}

.btn--pink:focus {
  outline: 2px solid #2D3440;
}

.btn--pink:disabled {
  background: #B9B9B9;
  outline-color: rgba(185, 185, 185, .3);
  color: #565C66;
  font-weight: 400;
}

.title {
  margin-bottom: 56px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 24px 15px;
}

.header__logo-link {
  display: block;
  width: 137px;
  height: 56px;

  cursor: pointer;
}

.header__logo-img {
  height: 100%;
  width: 100%;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  width: 1017px;
  margin: 0 auto;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 15px;
}

.nav__item:not(:last-child) {
  margin-right: 15px;
}

.nav__item {
  line-height: 1;
}

.nav__link {
  padding: 8px 16px;
  border-radius: 26px;
}

.nav__link:hover {
  background-color: rgba(252, 252, 252, .5);
}

.nav__link:focus {
  background-color: rgba(252, 252, 252, .5);
  outline: 2px solid #2D3440;
}

.nav__link:active {
  background-color: rgba(252, 252, 252, 1);
}

.nav__link--active {
  padding: 8px 16px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
}

.nav__btn {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.nav__phone {
  font-weight: 700;
}

.nav__btn--search {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.66341 7.33008C2.66341 4.75275 4.75275 2.66341 7.33008 2.66341C9.90741 2.66341 11.9967 4.75275 11.9967 7.33008C11.9967 8.58735 11.4995 9.7285 10.691 10.5676C10.6682 10.5852 10.6462 10.6044 10.6253 10.6253C10.6044 10.6463 10.5852 10.6682 10.5676 10.6911C9.72847 11.4996 8.58734 11.9967 7.33008 11.9967C4.75275 11.9967 2.66341 9.90741 2.66341 7.33008ZM11.0752 12.018C10.0487 12.8391 8.74675 13.3301 7.33008 13.3301C4.01637 13.3301 1.33008 10.6438 1.33008 7.33008C1.33008 4.01637 4.01637 1.33008 7.33008 1.33008C10.6438 1.33008 13.3301 4.01637 13.3301 7.33008C13.3301 8.74676 12.8391 10.0488 12.018 11.0752L14.4681 13.5253C14.7285 13.7857 14.7285 14.2078 14.4681 14.4682C14.2078 14.7285 13.7857 14.7285 13.5253 14.4682L11.0752 12.018Z' fill='%232D3440'/%3E%3C/svg%3E%0A");
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.nav__btn--enter, .nav__btn--cart {
  padding: 6px 16px 6px 40px;
  background-position: 16px;
}

.nav__btn--enter {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1.66667C9 1.29848 9.29848 1 9.66667 1H12.3333C12.8638 1 13.3725 1.21071 13.7475 1.58579C14.1226 1.96086 14.3333 2.46957 14.3333 3V12.3333C14.3333 12.8638 14.1226 13.3725 13.7475 13.7475C13.3725 14.1226 12.8638 14.3333 12.3333 14.3333H9.66667C9.29848 14.3333 9 14.0349 9 13.6667C9 13.2985 9.29848 13 9.66667 13H12.3333C12.5101 13 12.6797 12.9298 12.8047 12.8047C12.9298 12.6797 13 12.5101 13 12.3333V3C13 2.82319 12.9298 2.65362 12.8047 2.5286C12.6797 2.40357 12.5101 2.33333 12.3333 2.33333H9.66667C9.29848 2.33333 9 2.03486 9 1.66667ZM5.86189 3.86193C6.12224 3.60158 6.54435 3.60158 6.8047 3.86193L10.1338 7.19103C10.1509 7.20785 10.1671 7.22559 10.1824 7.24416C10.2142 7.28296 10.2411 7.32451 10.2628 7.36795C10.3079 7.45781 10.3333 7.55927 10.3333 7.66667C10.3333 7.77529 10.3074 7.87785 10.2613 7.96846C10.241 8.00841 10.2164 8.04675 10.1876 8.08278C10.1708 8.10378 10.1527 8.12375 10.1335 8.14256L6.8047 11.4714C6.54435 11.7318 6.12224 11.7318 5.86189 11.4714C5.60154 11.2111 5.60154 10.7889 5.86189 10.5286L8.05715 8.33333H1.66667C1.29848 8.33333 1 8.03486 1 7.66667C1 7.29848 1.29848 7 1.66667 7H8.05715L5.86189 4.80474C5.60154 4.54439 5.60154 4.12228 5.86189 3.86193Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.nav__btn--cart {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.16667 1.25C0.798477 1.25 0.5 1.54848 0.5 1.91667C0.5 2.28486 0.798477 2.58333 1.16667 2.58333H2.93794L3.40537 4.91872C3.40821 4.93667 3.41176 4.95438 3.416 4.97182L4.38338 9.80515L4.3835 9.80571C4.46706 10.2257 4.69562 10.603 5.02921 10.8715C5.36111 11.1387 5.77595 11.2813 6.20183 11.2748H11.8225C12.2484 11.2813 12.6633 11.1387 12.9952 10.8715C13.3289 10.6029 13.5575 10.2254 13.641 9.80515L13.641 9.80515L13.642 9.80016L14.5691 4.93872C14.6063 4.74355 14.5545 4.54195 14.4279 4.38887C14.3012 4.23578 14.1129 4.14716 13.9142 4.14716H4.61072L4.1381 1.78583C4.07574 1.47426 3.80215 1.25 3.4844 1.25H1.16667ZM5.69098 9.54444L4.87759 5.4805H13.1084L12.3328 9.54736C12.31 9.65988 12.2485 9.7609 12.1591 9.83291C12.0691 9.90535 11.9565 9.94383 11.841 9.94162L11.841 9.94149H11.8282H6.19614V9.94137L6.18337 9.94162C6.06787 9.94383 5.95528 9.90535 5.8653 9.83291C5.77531 9.76048 5.71368 9.6587 5.69117 9.5454L5.69098 9.54444ZM4.55739 13.5054C4.55739 12.8175 5.1151 12.2597 5.80307 12.2597C6.49105 12.2597 7.04876 12.8175 7.04876 13.5054C7.04876 14.1934 6.49105 14.7511 5.80307 14.7511C5.1151 14.7511 4.55739 14.1934 4.55739 13.5054ZM10.9307 13.5054C10.9307 12.8175 11.4884 12.2597 12.1764 12.2597C12.8644 12.2597 13.4221 12.8175 13.4221 13.5054C13.4221 14.1934 12.8644 14.7511 12.1764 14.7511C11.4884 14.7511 10.9307 14.1934 10.9307 13.5054Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

/* Hero */
.hero {
  position: relative;
  margin-bottom: 80px;
}

.hero__slider {
  display: flex;
}

.hero__slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 70px;
  padding-right: 280px;
}

.hero__slider-item:not(:first-child) {
  display: none;
}

.hero__slider-inner {
  max-width: 460px;
}

.hero__slider-title {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.hero__slider-description {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.hero__slider-wrapper {
  position: relative;
  text-align: center;
}

.hero__slider-wrapper:before {
  display: block;
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__slider-wrapper::after {
  display: block;
  content: ".";
  position: absolute;
  width: 241px;
  height: 150px;
  z-index: -1;
  background-image: url("../images/ice-cream-preview.png");
  top: 50%;
  left: 465px;
  transform: translate(-50%, -50%);
}

.hero__slider-btn {
  padding: 12px 32px;
}

.hero__slider-prev, .hero__slider-next {
  position: absolute;
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  outline: 2px solid #FCFCFC;
  border-radius: 50%;
}

.hero__slider-prev {
  left: 49%;
  top: 43%;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.80335 3.80515C10.063 3.54545 10.063 3.12439 9.80335 2.8647C9.54365 2.605 9.12259 2.605 8.8629 2.8647L4.19482 7.53277C3.93597 7.79162 3.93512 8.21075 4.19226 8.47065C4.19342 8.47183 4.19459 8.47301 4.19576 8.47418L8.86384 13.1423C9.12354 13.402 9.54459 13.402 9.80429 13.1423C10.064 12.8826 10.064 12.4615 9.80429 12.2018L5.60549 8.00301L9.80335 3.80515Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
}

.hero__slider-prev:hover {
  background-color: #FCFCFC;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.80335 3.80515C10.063 3.54545 10.063 3.12439 9.80335 2.8647C9.54365 2.605 9.12259 2.605 8.8629 2.8647L4.19482 7.53277C3.93597 7.79162 3.93512 8.21075 4.19226 8.47065C4.19342 8.47183 4.19459 8.47301 4.19576 8.47418L8.86384 13.1423C9.12354 13.402 9.54459 13.402 9.80429 13.1423C10.064 12.8826 10.064 12.4615 9.80429 12.2018L5.60549 8.00301L9.80335 3.80515Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.hero__slider-prev:focus {
  background-color: #FCFCFC;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.80335 3.80515C10.063 3.54545 10.063 3.12439 9.80335 2.8647C9.54365 2.605 9.12259 2.605 8.8629 2.8647L4.19482 7.53277C3.93597 7.79162 3.93512 8.21075 4.19226 8.47065C4.19342 8.47183 4.19459 8.47301 4.19576 8.47418L8.86384 13.1423C9.12354 13.402 9.54459 13.402 9.80429 13.1423C10.064 12.8826 10.064 12.4615 9.80429 12.2018L5.60549 8.00301L9.80335 3.80515Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.hero__slider-prev:disabled, .hero__slider-next:disabled {
  background-color: #FCFCFC;
  opacity: 0.4;
}

.hero__slider-next {
  left: 74%;
  top: 43%;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.13526 2.8647C6.87557 2.605 6.45451 2.605 6.19481 2.8647C5.93511 3.12439 5.93511 3.54545 6.19481 3.80515L10.3961 8.00643L6.19477 12.2077C5.93508 12.4674 5.93508 12.8885 6.19477 13.1482C6.45447 13.4079 6.87553 13.4079 7.13523 13.1482L11.8039 8.47949C11.8049 8.47855 11.8058 8.47761 11.8068 8.47666C12.0665 8.21696 12.0665 7.79591 11.8068 7.53621L7.13526 2.8647Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
}

.hero__slider-next:hover {
  background-color: #FCFCFC;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.13526 2.8647C6.87557 2.605 6.45451 2.605 6.19481 2.8647C5.93511 3.12439 5.93511 3.54545 6.19481 3.80515L10.3961 8.00643L6.19477 12.2077C5.93508 12.4674 5.93508 12.8885 6.19477 13.1482C6.45447 13.4079 6.87553 13.4079 7.13523 13.1482L11.8039 8.47949C11.8049 8.47855 11.8058 8.47761 11.8068 8.47666C12.0665 8.21696 12.0665 7.79591 11.8068 7.53621L7.13526 2.8647Z' fill='%%232D3440'/%3E%3C/svg%3E");
}

.hero__slider-next:focus {
  background-color: #FCFCFC;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.13526 2.8647C6.87557 2.605 6.45451 2.605 6.19481 2.8647C5.93511 3.12439 5.93511 3.54545 6.19481 3.80515L10.3961 8.00643L6.19477 12.2077C5.93508 12.4674 5.93508 12.8885 6.19477 13.1482C6.45447 13.4079 6.87553 13.4079 7.13523 13.1482L11.8039 8.47949C11.8049 8.47855 11.8058 8.47761 11.8068 8.47666C12.0665 8.21696 12.0665 7.79591 11.8068 7.53621L7.13526 2.8647Z' fill='%232D3440'/%3E%3C/svg%3E");
}

.hero__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pagination {
  display: flex;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, .3);
}

.pagination__link:hover {
  outline: 1px solid #FCFCFC;
}

.pagination__link:focus {
  outline: 1px solid #2D3440;
}

.pagination__link--active {
  background-color: rgba(252, 252, 252, 1);
}


/* Footer-social */
.footer-social {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 16px;
}

.footer-social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.2);
  background-color: transparent;
  background-position: center;
}

.footer-social-link:hover {
  outline: 2px solid rgba(252, 252, 252, 0.2);
  background-color: #2D3440;
}

.footer-social-link:focus {
  background-color: #2D3440;
}

.footer-social-link--vk {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14ZM14.5884 16.9749H13.8711C13.8711 16.9749 12.2885 17.0584 10.8948 15.7867C9.37486 14.3995 8.03249 11.647 8.03249 11.647C8.03249 11.647 7.95511 11.4665 8.03917 11.3793C8.13366 11.2812 8.39106 11.2749 8.39106 11.2749L10.1057 11.2651C10.1057 11.2651 10.2673 11.2888 10.3829 11.3632C10.4782 11.4246 10.5317 11.5394 10.5317 11.5394C10.5317 11.5394 10.8088 12.1536 11.1758 12.7093C11.8921 13.7942 12.2258 14.0315 12.469 13.9152C12.8233 13.7458 12.7171 12.3816 12.7171 12.3816C12.7171 12.3816 12.7236 11.8865 12.5387 11.666C12.3955 11.4951 12.1254 11.4453 12.0062 11.4313C11.9097 11.42 12.0681 11.2237 12.2733 11.1356C12.5819 11.0031 13.1268 10.9955 13.7706 11.0014C14.2722 11.0058 14.4165 11.0332 14.6127 11.0748C15.0677 11.1711 15.0536 11.4796 15.0229 12.1454C15.0138 12.3444 15.0032 12.5752 15.0032 12.8418C15.0032 12.9018 15.0012 12.9657 14.9991 13.0315C14.9885 13.3725 14.9763 13.7629 15.2324 13.908C15.3637 13.9822 15.6849 13.9191 16.4884 12.7233C16.8693 12.1566 17.1549 11.4902 17.1549 11.4902C17.1549 11.4902 17.2173 11.3715 17.3142 11.3205C17.4134 11.2685 17.5472 11.2845 17.5472 11.2845L19.3515 11.2746C19.3515 11.2746 19.8937 11.218 19.9815 11.4324C20.0735 11.6576 19.7788 12.1833 19.0417 13.0444C18.3463 13.8567 18.006 14.1587 18.0328 14.4236C18.0527 14.6198 18.2739 14.7957 18.7015 15.1436C19.5897 15.8661 19.8264 16.2455 19.8827 16.3357C19.8872 16.343 19.8906 16.3484 19.893 16.3519C20.2905 16.9296 19.4522 16.9749 19.4522 16.9749L17.8497 16.9944C17.8497 16.9944 17.5053 17.0543 17.0521 16.7814C16.8151 16.6388 16.5833 16.406 16.3626 16.1842C16.0251 15.8451 15.7131 15.5316 15.4469 15.6056C15.0002 15.7298 15.0143 16.5734 15.0143 16.5734C15.0143 16.5734 15.0175 16.7536 14.9157 16.8495C14.8051 16.954 14.5884 16.9749 14.5884 16.9749Z' fill='%23FCFCFC'/%3E%3Cpath d='M14 24C8.47715 24 4 19.5228 4 14H0C0 21.732 6.26801 28 14 28V24ZM24 14C24 19.5228 19.5228 24 14 24V28C21.732 28 28 21.732 28 14H24ZM14 4C19.5228 4 24 8.47715 24 14H28C28 6.26801 21.732 0 14 0V4ZM14 0C6.26801 0 0 6.26801 0 14H4C4 8.47715 8.47715 4 14 4V0Z' fill='%23FCFCFC' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}

.footer-social-link--fb {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM14.4286 12.9H13V18H10.7143V12.9H9V10.5H10.7143V8.82C10.7143 6.9942 11.816 6 13.3674 6C14.1103 6 14.8137 6.0582 15 6.084V8.1H14.1429C13 8.1 13 8.682 13 9.3V10.5H15L14.4286 12.9Z' fill='%23FCFCFC'/%3E%3C/svg%3E ");
}

.footer-social-link--insta {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14ZM16.4732 8.036C15.8336 8.006 15.6302 8 14 8C12.3698 8 12.1664 8.0078 11.5268 8.036C10.8872 8.066 10.4528 8.1662 10.07 8.315C9.66946 8.46544 9.3066 8.70154 9.0068 9.0068C8.70128 9.30639 8.46514 9.66931 8.315 10.07C8.1662 10.4528 8.066 10.8872 8.036 11.5268C8.006 12.1664 8 12.3698 8 14C8 15.6302 8.0078 15.8336 8.036 16.4732C8.066 17.1122 8.1662 17.5478 8.315 17.93C8.46556 18.3305 8.70164 18.6933 9.0068 18.9932C9.30652 19.2986 9.6694 19.5347 10.07 19.685C10.4528 19.8332 10.8878 19.934 11.5268 19.964C12.1664 19.994 12.3698 20 14 20C15.6302 20 15.8336 19.9922 16.4732 19.964C17.1122 19.934 17.5478 19.8332 17.93 19.685C18.3304 19.5343 18.6932 19.2982 18.9932 18.9932C19.2987 18.6936 19.5348 18.3307 19.685 17.93C19.8332 17.5472 19.934 17.1122 19.964 16.4732C19.994 15.8336 20 15.6302 20 14C20 12.3698 19.9922 12.1664 19.964 11.5268C19.934 10.8878 19.8332 10.4522 19.685 10.07C19.5344 9.66955 19.2983 9.30674 18.9932 9.0068C18.6596 8.6738 18.326 8.4674 17.93 8.315C17.5472 8.1662 17.1122 8.066 16.4732 8.036ZM11.8787 11.8787C12.4413 11.3161 13.2044 11 14 11C14.7956 11 15.5587 11.3161 16.1213 11.8787C16.6839 12.4413 17 13.2044 17 14C17 14.7956 16.6839 15.5587 16.1213 16.1213C15.5587 16.6839 14.7956 17 14 17C13.2044 17 12.4413 16.6839 11.8787 16.1213C11.3161 15.5587 11 14.7956 11 14C11 13.2044 11.3161 12.4413 11.8787 11.8787ZM17.6803 10.3197C17.821 10.4603 17.9 10.6511 17.9 10.85C17.9 11.0489 17.821 11.2397 17.6803 11.3803C17.5397 11.521 17.3489 11.6 17.15 11.6C16.9511 11.6 16.7603 11.521 16.6197 11.3803C16.479 11.2397 16.4 11.0489 16.4 10.85C16.4 10.6511 16.479 10.4603 16.6197 10.3197C16.7603 10.179 16.9511 10.1 17.15 10.1C17.3489 10.1 17.5397 10.179 17.6803 10.3197ZM15.2728 12.7272C14.9352 12.3896 14.4774 12.2 14 12.2C13.5226 12.2 13.0648 12.3896 12.7272 12.7272C12.3896 13.0648 12.2 13.5226 12.2 14C12.2 14.4774 12.3896 14.9352 12.7272 15.2728C13.0648 15.6104 13.5226 15.8 14 15.8C14.4774 15.8 14.9352 15.6104 15.2728 15.2728C15.6104 14.9352 15.8 14.4774 15.8 14C15.8 13.5226 15.6104 13.0648 15.2728 12.7272Z' fill='%23FCFCFC'/%3E%3Cpath d='M14 24C8.47715 24 4 19.5228 4 14H0C0 21.732 6.26801 28 14 28V24ZM24 14C24 19.5228 19.5228 24 14 24V28C21.732 28 28 21.732 28 14H24ZM14 4C19.5228 4 24 8.47715 24 14H28C28 6.26801 21.732 0 14 0V4ZM14 0C6.26801 0 0 6.26801 0 14H4C4 8.47715 8.47715 4 14 4V0Z' fill='%23FCFCFC' fill-opacity='0.2'/%3E%3C/svg%3E ");
}

/* Promo */
.promo {
  margin-bottom: 80px;
  text-align: center;
}

.promo__list {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.promo__item {
  max-width: 570px;
  padding: 40px 210px 40px 40px;
  background-color: #FF7799;
  border-radius: 16px;
  text-align-last: left;
}

.promo__item:first-child {
  background-image: url("../images/raspberries.png");
  background-repeat: no-repeat;
  background-position: 374px 28px;
}

.promo__item:last-child {
  background-image: url("../images/marshmallow.png");
  background-repeat: no-repeat;
  background-position: 331px 19px;
}

.promo__item-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo__item-description {
  margin-bottom: 32px;
}

.promo__item-btn {
  padding: 12px 32px;
}

/* Flavours */
.flavours {
  margin-bottom: 80px;
  text-align: center;
}

.flavours__title {
  margin-bottom: 107px;
}

.flavours__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 30px;
}

.flavours__item {
  max-width: 270px;
  padding: 0 40px 24px;
  background-color: #FCFCFC;
  border-radius: 8px;
  text-align: center;
}

.flavours__item-link {
  display: block;
  position: relative;
  text-align: center;
}

.flavours__item-img {
  position: absolute;
  border-radius: 50%;
  left: 7.5%;
  top: -30%;
}

.flavours__item-description {
  margin-bottom: 16px;
}

.flavours__item-title, .flavours__item-price {
  display: inline-block;
  vertical-align: super;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.flavours__item-title {
  margin-bottom: 8px;
  padding-top: 132px;
}

.flavours__item-price {
  margin-right: 60px;
}

.flavours__item-btn {
  display: inline-block;
  margin-left: auto;
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.16667 1.25C0.798477 1.25 0.5 1.54848 0.5 1.91667C0.5 2.28486 0.798477 2.58333 1.16667 2.58333H2.93794L3.40537 4.91872C3.40821 4.93667 3.41176 4.95438 3.416 4.97182L4.38338 9.80515L4.3835 9.80571C4.46706 10.2257 4.69562 10.603 5.02921 10.8715C5.36111 11.1387 5.77595 11.2813 6.20183 11.2748H11.8225C12.2484 11.2813 12.6633 11.1387 12.9952 10.8715C13.3289 10.6029 13.5575 10.2254 13.641 9.80515L13.641 9.80515L13.642 9.80016L14.5691 4.93872C14.6063 4.74355 14.5545 4.54195 14.4279 4.38887C14.3012 4.23578 14.1129 4.14716 13.9142 4.14716H4.61072L4.1381 1.78583C4.07574 1.47426 3.80215 1.25 3.4844 1.25H1.16667ZM5.69098 9.54444L4.87759 5.4805H13.1084L12.3328 9.54736C12.31 9.65988 12.2485 9.7609 12.1591 9.83291C12.0691 9.90535 11.9565 9.94383 11.841 9.94162L11.841 9.94149H11.8282H6.19614V9.94137L6.18337 9.94162C6.06787 9.94383 5.95528 9.90535 5.8653 9.83291C5.77531 9.76048 5.71368 9.6587 5.69117 9.5454L5.69098 9.54444ZM4.55739 13.5054C4.55739 12.8175 5.1151 12.2597 5.80307 12.2597C6.49105 12.2597 7.04876 12.8175 7.04876 13.5054C7.04876 14.1934 6.49105 14.7511 5.80307 14.7511C5.1151 14.7511 4.55739 14.1934 4.55739 13.5054ZM10.9307 13.5054C10.9307 12.8175 11.4884 12.2597 12.1764 12.2597C12.8644 12.2597 13.4221 12.8175 13.4221 13.5054C13.4221 14.1934 12.8644 14.7511 12.1764 14.7511C11.4884 14.7511 10.9307 14.1934 10.9307 13.5054Z' fill='%23FCFCFC'/%3E%3C/svg%3E ");
  background-position: center;
  outline: none;
}

.flavours__item-btn:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.16667 1.25C0.798477 1.25 0.5 1.54848 0.5 1.91667C0.5 2.28486 0.798477 2.58333 1.16667 2.58333H2.93794L3.40537 4.91872C3.40821 4.93667 3.41176 4.95438 3.416 4.97182L4.38338 9.80515L4.3835 9.80571C4.46706 10.2257 4.69562 10.603 5.02921 10.8715C5.36111 11.1387 5.77595 11.2813 6.20183 11.2748H11.8225C12.2484 11.2813 12.6633 11.1387 12.9952 10.8715C13.3289 10.6029 13.5575 10.2254 13.641 9.80515L13.641 9.80515L13.642 9.80016L14.5691 4.93872C14.6063 4.74355 14.5545 4.54195 14.4279 4.38887C14.3012 4.23578 14.1129 4.14716 13.9142 4.14716H4.61072L4.1381 1.78583C4.07574 1.47426 3.80215 1.25 3.4844 1.25H1.16667ZM5.69098 9.54444L4.87759 5.4805H13.1084L12.3328 9.54736C12.31 9.65988 12.2485 9.7609 12.1591 9.83291C12.0691 9.90535 11.9565 9.94383 11.841 9.94162L11.841 9.94149H11.8282H6.19614V9.94137L6.18337 9.94162C6.06787 9.94383 5.95528 9.90535 5.8653 9.83291C5.77531 9.76048 5.71368 9.6587 5.69117 9.5454L5.69098 9.54444ZM4.55739 13.5054C4.55739 12.8175 5.1151 12.2597 5.80307 12.2597C6.49105 12.2597 7.04876 12.8175 7.04876 13.5054C7.04876 14.1934 6.49105 14.7511 5.80307 14.7511C5.1151 14.7511 4.55739 14.1934 4.55739 13.5054ZM10.9307 13.5054C10.9307 12.8175 11.4884 12.2597 12.1764 12.2597C12.8644 12.2597 13.4221 12.8175 13.4221 13.5054C13.4221 14.1934 12.8644 14.7511 12.1764 14.7511C11.4884 14.7511 10.9307 14.1934 10.9307 13.5054Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.flavours__item-btn:disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.16667 1.25C0.798477 1.25 0.5 1.54848 0.5 1.91667C0.5 2.28486 0.798477 2.58333 1.16667 2.58333H2.93794L3.40537 4.91872C3.40821 4.93667 3.41176 4.95438 3.416 4.97182L4.38338 9.80515L4.3835 9.80571C4.46706 10.2257 4.69562 10.603 5.02921 10.8715C5.36111 11.1387 5.77595 11.2813 6.20183 11.2748H11.8225C12.2484 11.2813 12.6633 11.1387 12.9952 10.8715C13.3289 10.6029 13.5575 10.2254 13.641 9.80515L13.641 9.80515L13.642 9.80016L14.5691 4.93872C14.6063 4.74355 14.5545 4.54195 14.4279 4.38887C14.3012 4.23578 14.1129 4.14716 13.9142 4.14716H4.61072L4.1381 1.78583C4.07574 1.47426 3.80215 1.25 3.4844 1.25H1.16667ZM5.69098 9.54444L4.87759 5.4805H13.1084L12.3328 9.54736C12.31 9.65988 12.2485 9.7609 12.1591 9.83291C12.0691 9.90535 11.9565 9.94383 11.841 9.94162L11.841 9.94149H11.8282H6.19614V9.94137L6.18337 9.94162C6.06787 9.94383 5.95528 9.90535 5.8653 9.83291C5.77531 9.76048 5.71368 9.6587 5.69117 9.5454L5.69098 9.54444ZM4.55739 13.5054C4.55739 12.8175 5.1151 12.2597 5.80307 12.2597C6.49105 12.2597 7.04876 12.8175 7.04876 13.5054C7.04876 14.1934 6.49105 14.7511 5.80307 14.7511C5.1151 14.7511 4.55739 14.1934 4.55739 13.5054ZM10.9307 13.5054C10.9307 12.8175 11.4884 12.2597 12.1764 12.2597C12.8644 12.2597 13.4221 12.8175 13.4221 13.5054C13.4221 14.1934 12.8644 14.7511 12.1764 14.7511C11.4884 14.7511 10.9307 14.1934 10.9307 13.5054Z' fill='%23565C66'/%3E%3C/svg%3E ");
}

/* About */
.about {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/wafer.jpg");
  background-repeat: repeat;
  border-radius: 16px;
}

.about__inner {
  padding: 56px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
  text-align: center;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.about__item {
  padding-left: 64px;
  min-height: 66px;
  background-size: 48px 48px;
  background-repeat: no-repeat;
}

.about__item:first-child {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23' stroke='%232D3440' stroke-width='2'/%3E%3Cpath d='M24 8C22.042 8.00227 20.1526 8.72169 18.689 10.0223C17.2254 11.3229 16.2889 13.1146 16.0565 15.0588H16V30.9459H32V15.0588H31.9435C31.7111 13.1146 30.7746 11.3229 29.311 10.0223C27.8474 8.72169 25.958 8.00227 24 8ZM30.1176 29.0635H17.8824V20.3859C18.0569 20.5964 18.2801 20.7612 18.5326 20.8662C18.7851 20.9711 19.0594 21.013 19.3318 20.9882C20.5459 20.9882 21.3365 20.3106 21.3365 19.4541V18.6353C21.3242 18.5223 21.3359 18.408 21.3708 18.2998C21.4057 18.1917 21.4629 18.0921 21.5388 18.0075C21.6147 17.9229 21.7076 17.8553 21.8114 17.809C21.9152 17.7627 22.0275 17.7387 22.1412 17.7387C22.2548 17.7387 22.3672 17.7627 22.471 17.809C22.5748 17.8553 22.6676 17.9229 22.7435 18.0075C22.8195 18.0921 22.8767 18.1917 22.9116 18.2998C22.9464 18.408 22.9581 18.5223 22.9459 18.6353V21.7318C22.949 21.9809 23.0049 22.2266 23.1101 22.4525C23.2152 22.6784 23.3671 22.8794 23.5557 23.0422C23.7443 23.205 23.9654 23.326 24.2042 23.397C24.443 23.468 24.6942 23.4875 24.9412 23.4541C25.1822 23.4885 25.4278 23.4721 25.6622 23.4062C25.8966 23.3402 26.1146 23.2261 26.3024 23.0711C26.4902 22.9161 26.6436 22.7236 26.7528 22.5059C26.8619 22.2883 26.9245 22.0503 26.9365 21.8071V19.7271C26.9213 19.5516 26.9428 19.375 26.9996 19.2083C27.0563 19.0417 27.1471 18.8886 27.2661 18.7589C27.3851 18.6291 27.5298 18.5255 27.691 18.4547C27.8521 18.3838 28.0263 18.3472 28.2024 18.3472C28.3784 18.3472 28.5526 18.3838 28.7137 18.4547C28.8749 18.5255 29.0196 18.6291 29.1386 18.7589C29.2576 18.8886 29.3484 19.0417 29.4052 19.2083C29.4619 19.375 29.4834 19.5516 29.4682 19.7271C29.4651 19.7552 29.4651 19.7836 29.4682 19.8118C29.492 19.994 29.5626 20.1669 29.6731 20.3137C29.7836 20.4605 29.9303 20.5762 30.0988 20.6494V29.12L30.1176 29.0635Z' fill='%232D3440'/%3E%3Cpath d='M22.5882 38.5882C22.5882 38.9627 22.737 39.3217 23.0017 39.5865C23.2665 39.8513 23.6256 40 24 40C24.3744 40 24.7335 39.8513 24.9983 39.5865C25.263 39.3217 25.4118 38.9627 25.4118 38.5882V31.8871H22.5882V38.5882Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.about__item:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23' stroke='%232D3440' stroke-width='2'/%3E%3Cpath d='M34.749 18.2868C35.474 16.8027 35.8877 15.1943 35.9663 13.5546C36.0449 11.9149 35.7868 10.2764 35.2069 8.73373C35.1454 8.54577 35.0283 8.3794 34.8701 8.25524C34.7118 8.13109 34.5193 8.05462 34.3165 8.03532C34.1138 8.01603 33.9096 8.05475 33.7293 8.1467C33.5491 8.23864 33.4007 8.37976 33.3026 8.55253C31.9811 10.8376 29.1404 14.5219 27.0593 14.693H26.9656C26.0088 14.511 25.0374 14.41 24.0624 14.3911C23.084 14.4098 22.1092 14.5108 21.1489 14.693H21.076C18.9949 14.532 16.1125 10.8477 14.7806 8.5626C14.6877 8.37976 14.5397 8.2285 14.356 8.12879C14.1724 8.02909 13.9618 7.98564 13.7521 8.00418C13.5423 8.02272 13.3434 8.10239 13.1814 8.23265C13.0195 8.36291 12.9023 8.53763 12.8452 8.73373C12.2552 10.2709 11.9872 11.9063 12.0569 13.5447C12.1266 15.183 12.5325 16.7916 13.251 18.2767C11.4404 18.4981 9.14077 19.0619 8.30832 20.4812C8.10637 20.8176 8 21.1996 8 21.5885C8 21.9775 8.10637 22.3595 8.30832 22.6958C8.54668 23.1071 8.90147 23.444 9.33096 23.6669C9.76045 23.8898 10.2468 23.9895 10.7328 23.9541C11.595 23.9371 12.4474 23.7735 13.251 23.471C13.2439 24.0141 13.2891 24.5567 13.3863 25.0916C13.8507 26.8799 14.4596 28.6301 15.2072 30.3262C15.405 30.7993 15.6235 31.3328 15.7379 31.6549C15.3961 32.4629 15.128 33.2982 14.9367 34.1514C14.8873 34.7542 14.9651 35.3605 15.1655 35.9333C15.3658 36.5061 15.6845 37.0335 16.1021 37.4834C17.6109 39.1544 20.2644 40 24.0312 40C27.7981 40 30.4619 39.1544 31.9603 37.4834C32.38 37.0348 32.7 36.5076 32.9005 35.9344C33.1009 35.3613 33.1776 34.7544 33.1257 34.1514C32.9379 33.2985 32.6733 32.4632 32.3349 31.6549C32.4494 31.3328 32.6679 30.8094 32.8552 30.3262C33.6107 28.633 34.2198 26.8822 34.6762 25.0916C34.7812 24.5576 34.83 24.0146 34.8218 23.471C35.5992 23.7646 36.4226 23.928 37.2568 23.9541C37.7441 23.989 38.2317 23.8892 38.6628 23.6664C39.0938 23.4437 39.4506 23.1071 39.6917 22.6958C39.8936 22.3595 40 21.9775 40 21.5885C40 21.1996 39.8936 20.8176 39.6917 20.4812C38.8696 19.1122 36.57 18.5082 34.749 18.2868ZM33.7605 11.6027C34.1358 13.7077 33.7693 15.8737 32.7199 17.7532C32.4591 17.4469 32.1812 17.1545 31.8875 16.8775C31.2994 16.3545 30.6284 15.9262 29.9 15.6091C31.4008 14.4828 32.7043 13.13 33.7605 11.6027ZM14.2916 11.6027C15.3372 13.1406 16.638 14.5011 18.1416 15.6292C17.4145 15.9376 16.7489 16.3669 16.175 16.8976C15.877 17.1738 15.5956 17.4662 15.3321 17.7734C14.2796 15.8876 13.9131 13.7142 14.2916 11.6027ZM10.1917 21.7295C10.0981 21.5684 10.1293 21.5181 10.1917 21.4778C10.4311 21.0852 11.6381 20.4712 13.9482 20.2396C13.8337 20.5316 13.7296 20.8235 13.636 21.1255C12.2833 21.7999 10.4727 22.2227 10.1917 21.7295ZM32.6263 24.7494C32.1904 26.4019 31.627 28.0204 30.9405 29.5913C30.6688 30.2068 30.4291 30.835 30.2226 31.4738L30.1601 31.7858L30.2746 32.0677C30.6037 32.8353 30.8716 33.6261 31.0758 34.4333C31.0868 34.7508 31.0327 35.0673 30.9166 35.3644C30.8006 35.6616 30.6248 35.9336 30.3995 36.1647C29.6503 37.0002 27.9437 37.9867 24.0416 37.9867C20.1395 37.9867 18.433 36.9801 17.6838 36.1647C17.2345 35.6944 16.992 35.0735 17.0074 34.4333C17.2159 33.6261 17.4872 32.8353 17.8191 32.0677L17.9335 31.7858L17.8607 31.4738C17.6653 30.8294 17.429 30.1974 17.1531 29.5813C16.4547 28.0024 15.8841 26.3735 15.4466 24.7091C15.2481 23.5489 15.3453 22.3593 15.7298 21.2436C16.1142 20.128 16.7742 19.1199 17.6526 18.3069C19.2238 16.7768 22.7825 16.4345 24.0208 16.4245C25.2591 16.4144 28.745 16.7667 30.4099 18.327C31.2936 19.1323 31.9582 20.1361 32.3449 21.2494C32.7315 22.3626 32.8281 23.551 32.6263 24.7091V24.7494ZM37.8291 21.7295C37.5585 22.2127 35.7479 21.7999 34.4576 21.1355C34.3744 20.8336 34.2703 20.5416 34.1559 20.2396C36.4451 20.4712 37.6418 21.0852 37.8707 21.4778C37.9227 21.5181 37.9435 21.5684 37.8499 21.7295H37.8291Z' fill='%232D3440'/%3E%3C/svg%3E%0A");
}

.about__item:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23' stroke='%232D3440' stroke-width='2'/%3E%3Cpath d='M33.3243 26.4851C32.9176 17.4097 25.0094 8.62095 24.6569 8.23883C24.6569 8.23883 24.6569 8.23883 24.6118 8.23883L24.5033 8.11464L24.3858 8.03821H23.8797L23.708 8H23.6628L23.5001 8.11464L23.4007 8.20061C23.4007 8.20061 23.4007 8.20061 23.3555 8.20061C23.003 8.62095 15.0948 17.4193 14.67 26.4851C14.6655 26.5518 14.6655 26.6189 14.67 26.6857C14.67 27.0296 14.67 27.3735 14.67 27.7269C15.0135 37.5665 23.708 39.9739 23.7803 39.993H24.0062C24.0813 40.0023 24.1571 40.0023 24.2322 39.993C24.3135 39.993 32.9989 37.5188 33.3333 27.7269C33.3333 27.3735 33.3333 27.0296 33.3333 26.6857C33.3333 26.6188 33.3243 26.5519 33.3243 26.4851ZM17.0561 23.132C18.8613 24.772 20.9024 26.0974 23.1024 27.0582V31.4049C20.8881 30.2489 17.4808 28.195 16.4776 26.3895C16.559 25.2871 16.7437 24.1959 17.0289 23.132H17.0561ZM18.8636 18.2599C20.0457 19.5651 21.4961 20.5653 23.1024 21.1831V24.947C21.083 24.0461 19.2431 22.7496 17.6797 21.1258C18.0235 20.1479 18.4188 19.1912 18.8636 18.2599ZM30.3508 21.1258C28.7881 22.7505 26.948 24.0471 24.9281 24.947V21.1831C26.5215 20.5601 27.959 19.5602 29.1307 18.2599C29.5866 19.1779 29.994 20.1219 30.3508 21.0876V21.1258ZM24.9281 19.1579V11.5155C26.136 13.0813 27.2383 14.7348 28.2269 16.464C27.3552 17.6354 26.2129 18.55 24.91 19.1197L24.9281 19.1579ZM24.9281 31.424V27.0582C27.1365 26.106 29.1868 24.787 31.0016 23.1511C31.2784 24.219 31.454 25.3135 31.5258 26.4182C30.5316 28.195 27.1243 30.2394 24.91 31.3857L24.9281 31.424ZM23.1205 19.1579C21.8116 18.5809 20.6681 17.6522 19.8036 16.464C20.7904 14.7184 21.8928 13.0489 23.1024 11.4677L23.1205 19.1579ZM16.6674 29.4083C18.6441 31.05 20.8055 32.4265 23.1024 33.5065V37.7098C21.4593 37.0042 20.0095 35.8747 18.8855 34.4246C17.7614 32.9745 16.9989 31.2499 16.6674 29.4083ZM24.91 37.7194V33.497C27.2088 32.4248 29.3707 31.0511 31.345 29.4083C31.0276 31.2569 30.2704 32.9898 29.1447 34.4437C28.0189 35.8977 26.5616 37.025 24.91 37.7194Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.about__item:last-child {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23' stroke='%232D3440' stroke-width='2'/%3E%3Cpath d='M27.1889 13.0695C27.1889 11.725 26.6972 10.4355 25.8221 9.48481C24.9469 8.5341 23.7599 8 22.5222 8C21.2846 8 20.0976 8.5341 19.2224 9.48481C18.3473 10.4355 17.8556 11.725 17.8556 13.0695V27.8243C16.6592 29.1507 15.9925 30.936 16.0001 32.793C15.9969 33.9823 16.2654 35.1538 16.7817 36.2026C17.2979 37.2514 18.0457 38.1445 18.958 38.802C19.8702 39.4595 20.9185 39.8607 22.0086 39.9697C23.0988 40.0788 24.1969 39.8921 25.2043 39.4266C26.2117 38.9611 27.097 38.2312 27.7809 37.3025C28.4647 36.3737 28.9256 35.2751 29.1223 34.1052C29.319 32.9352 29.2453 31.7306 28.9079 30.5992C28.5704 29.4678 27.9798 28.4451 27.1889 27.6228V13.0695ZM27.3559 32.793C27.3653 33.6725 27.1676 34.5399 26.7815 35.3131C26.3955 36.0862 25.834 36.7393 25.1503 37.2104C24.4665 37.6814 23.6833 37.9549 22.875 38.0047C22.0667 38.0544 21.26 37.879 20.5317 37.4949C19.8033 37.1108 19.1774 36.5308 18.7134 35.8101C18.2494 35.0893 17.9627 34.2517 17.8805 33.3767C17.7983 32.5017 17.9233 31.6185 18.2437 30.8107C18.5641 30.003 19.0692 29.2976 19.7111 28.7616V13.0695C19.7111 12.2596 20.0073 11.4828 20.5345 10.9101C21.0617 10.3374 21.7767 10.0157 22.5222 10.0157C23.2678 10.0157 23.9828 10.3374 24.51 10.9101C25.0372 11.4828 25.3334 12.2596 25.3334 13.0695V28.5701C25.9595 29.0441 26.4706 29.6758 26.8228 30.4113C27.1751 31.1467 27.358 31.964 27.3559 32.793Z' fill='%232D3440'/%3E%3Cpath d='M23.5335 29.6384V13.14C23.5335 12.8727 23.4358 12.6164 23.2618 12.4274C23.0878 12.2384 22.8518 12.1322 22.6057 12.1322C22.3597 12.1322 22.1237 12.2384 21.9497 12.4274C21.7757 12.6164 21.678 12.8727 21.678 13.14V29.6384C21.059 29.8762 20.5372 30.344 20.205 30.9592C19.8728 31.5744 19.7515 32.2974 19.8625 33.0003C19.9736 33.7033 20.3098 34.341 20.8118 34.8007C21.3137 35.2605 21.9492 35.5126 22.6057 35.5126C23.2623 35.5126 23.8977 35.2605 24.3997 34.8007C24.9017 34.341 25.2379 33.7033 25.3489 33.0003C25.46 32.2974 25.3387 31.5744 25.0065 30.9592C24.6742 30.344 24.1525 29.8762 23.5335 29.6384Z' fill='%232D3440'/%3E%3Cpath d='M34.6667 11.9407H29.1001V13.9564H34.6667V11.9407Z' fill='%232D3440'/%3E%3Cpath d='M34.6667 15.9721H29.1001V17.9878H34.6667V15.9721Z' fill='%232D3440'/%3E%3Cpath d='M34.6667 20.0034H29.1001V22.0191H34.6667V20.0034Z' fill='%232D3440'/%3E%3Cpath d='M34.6667 24.0348H29.1001V26.0505H34.6667V24.0348Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.wrapper-columns {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
}

/* Blog */
.blog {
  max-width: 570px;
  padding: 32px 230px 60px 32px;
  background: url("../images/news.jpg") no-repeat center;
  background-size: cover;
  border-radius: 16px;
}

.blog__text {
  margin-bottom: 12px;
  color: #565C66;
}

.blog__link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

/* Subscription */
.subscription {
  max-width: 570px;
  padding: 6px;
  background-image: repeating-linear-gradient(135deg, #FF2F64 5px, #FF2F64 16px, #EDF1F5 16px, #EDF1F5 34px,#69A9FF 34px, #69A9FF 45px, #EDF1F5 45px, #EDF1F5 63px);
  background-repeat: repeat;
  border-radius: 16px;
}

.subscription__inner {
  height: 100%;
  padding: 26px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.subscription__text {
  margin-bottom: 42px;
}

.subscription__input {
  width: calc(100% - 35%);
  margin-right: 22px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.subscription__input::placeholder {
  color: #B9B9B9;
}

.subscription__btn {
  padding: 12px 32px;
  border-radius: 0%;
}

/* Delivery */
.delivery {
  display: grid;
  grid-template-columns: auto 500px;
  gap: 135px;
  align-items: center;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  background: url("../images/delivery.jpg") no-repeat center;
  background-size: cover;
  border-radius: 16px;
}

.delivery__title {
  margin-bottom: 24px;
}

.delivery__form {
  padding: 40px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery__form-legend {
  margin-bottom: 32px;
}

.delivery__form-label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
}

.delivery__form-label--date {
  max-width: 117px;
  margin-right: 16px;
}

.delivery__form-label--phone {
  width: calc(100% - 138px);
}

.delivery__form-label--address {
  width: 100%;
  margin-bottom: 32px;
}

.delivery__form-tooltip {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00027 2.33333C4.87051 2.33333 2.33333 4.87051 2.33333 8.00027C2.33333 11.13 4.87051 13.6672 8.00027 13.6672C11.13 13.6672 13.6672 11.13 13.6672 8.00027C13.6672 4.87051 11.13 2.33333 8.00027 2.33333ZM1 8.00027C1 4.13413 4.13413 1 8.00027 1C11.8664 1 15.0005 4.13413 15.0005 8.00027C15.0005 11.8664 11.8664 15.0005 8.00027 15.0005C4.13413 15.0005 1 11.8664 1 8.00027ZM8.00006 7.33332C8.36825 7.33332 8.66672 7.6318 8.66672 7.99999V10.5334C8.66672 10.9016 8.36825 11.2001 8.00006 11.2001C7.63187 11.2001 7.33339 10.9016 7.33339 10.5334V7.99999C7.33339 7.6318 7.63187 7.33332 8.00006 7.33332ZM8.00006 4.79989C7.63187 4.79989 7.33339 5.09836 7.33339 5.46655C7.33339 5.83474 7.63187 6.13322 8.00006 6.13322H8.00672C8.37491 6.13322 8.67339 5.83474 8.67339 5.46655C8.67339 5.09836 8.37491 4.79989 8.00672 4.79989H8.00006Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.delivery__form-input {
  width: 100%;
  margin-top: 8px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delivery__form-input::placeholder {
  color: #B9B9B9;
}

.delivery__form-inner {
  text-align: center;
}

.delivery__form-btn {
  padding: 12px 32px;
}

/* Contacts */
.contacts {
  padding: 64px;
  background: url("../images/feedback.jpg") no-repeat center;
  background-size: cover;
  border-radius: 16px;
}

.contacts__inner {
  max-width: 343px;
  padding: 40px;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts__inner-info {
  font-style: normal;
}

.contacts__inner-text {
  margin-bottom: 12px;
}

.contacts__inner-address {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__inner-subtext {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__inner-btn {
  padding: 13px 33px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer__social {
  margin-right: 300px;
}

.footer__addition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 200px;
}

.footer__addition-link {
  font-size: 14px;
  line-height: 20px;
}

.footer__addition-link--heart {
  position: relative;
  font-weight: 700;
}

.footer__addition-link--heart::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8911 2.99447C13.5506 2.65381 13.1463 2.38357 12.7014 2.19919C12.2564 2.01482 11.7795 1.91992 11.2978 1.91992C10.8161 1.91992 10.3392 2.01482 9.89423 2.19919C9.44926 2.38357 9.04497 2.65381 8.70447 2.99447L7.9978 3.70114L7.29113 2.99447C6.60334 2.30668 5.67049 1.92028 4.6978 1.92028C3.72511 1.92028 2.79226 2.30668 2.10447 2.99447C1.41667 3.68227 1.03027 4.61512 1.03027 5.58781C1.03027 6.56049 1.41667 7.49334 2.10447 8.18114L2.81113 8.88781L7.9978 14.0745L13.1845 8.88781L13.8911 8.18114C14.2318 7.84064 14.502 7.43635 14.6864 6.99138C14.8708 6.5464 14.9657 6.06946 14.9657 5.58781C14.9657 5.10615 14.8708 4.62921 14.6864 4.18424C14.502 3.73926 14.2318 3.33498 13.8911 2.99447V2.99447Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.footer__developed-copylink {
  font-size: 12px;
  line-height: 16px;
}

.footer__developed-copylink a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
}


/* -------------------- CATALOG.HTML -------------------- */

/* Header-inner */
.main-inner__header {
  margin-bottom: 40px;
  padding-top: 32px;
}

.main-inner__header-list {
  display: flex;
  margin-bottom: 16px;
}

.main-inner__header-item:not(:last-child) a {
  padding-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.35355 3.14645C3.15829 2.95118 2.84171 2.95118 2.64645 3.14645C2.45118 3.34171 2.45118 3.65829 2.64645 3.85355L4.79289 6L2.64645 8.14645C2.45118 8.34171 2.45118 8.65829 2.64645 8.85355C2.84171 9.04882 3.15829 9.04882 3.35355 8.85355L5.85355 6.35355C6.04882 6.15829 6.04882 5.84171 5.85355 5.64645L3.35355 3.14645ZM6.85352 3.14645C6.65826 2.95118 6.34168 2.95118 6.14642 3.14645C5.95115 3.34171 5.95115 3.65829 6.14642 3.85355L8.29286 6L6.14642 8.14645C5.95115 8.34171 5.95115 8.65829 6.14642 8.85355C6.34168 9.04882 6.65826 9.04882 6.85352 8.85355L9.35352 6.35355C9.54878 6.15829 9.54878 5.84171 9.35352 5.64645L6.85352 3.14645Z' fill='%232D3440'/%3E%3C/svg%3E ");
  text-decoration: underline;
  background-repeat: no-repeat;
  background-position: right 4px;
}

.main-inner__header-link {
  font-size: 14px;
  font-weight: 700;
}

/* Flavours__form */
.flavours-inner {
  margin-bottom: 57px;
}

.flavours__form {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 99px;
  font-size: 14px;
  line-height: 20px;
}

.flavours__filter-text {
  display: inline-block;
  margin-bottom: 8px;
  padding-left: 16px;
}

.flavours__filter-list, .flavours__filter-select {
  margin-right: 24px;
  padding: 10px 16px;
  background-color: rgba(252, 252, 252, .2);
  border-radius: 20px;
}

.flavours__filter-select {
  margin-bottom: 16px;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.flavours__filter-range {
  min-width: 196px;
}

.flavours__filter-checkbox {
  margin-left: 0;
  margin-right: 10px;
}

.flavours__filter-list {
  display: flex;
}

.flavours__filter-item:not(:last-child) {
  margin-right: 16px;
}

.flavours__filter-item--checkbox:not(:last-child) {
  margin-right: 24px;
}

.flavours__btn {
  align-self: flex-end;
  margin-bottom: 3px;
  padding: 8px 53.5px;
  outline: 2px solid #FCFCFC;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}

/* Footer-inner */
.footer-inner {
  margin-bottom: 80px;
}

.footer-inner-btn {
  padding: 12px 32px;
}

.disabled {
  fill: #2D3440;
  opacity: .2;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-inner__pagination {
  display: flex;
}

.footer-inner-btn {
  margin-left: 495px;
}

.footer-inner__pagination-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.footer-inner__pagination-current, .footer-inner__pagination-link:active {
  background: #FCFCFC;
}

.footer-inner__pagination-link:hover {
  outline: 1px solid #FCFCFC;
  background-color: rgba(252, 252, 252, .3);
}

.footer-inner__pagination-link:focus {
  outline: 1px solid #2D3440;
  background-color: rgba(252, 252, 252, .3);
}

.footer-inner__pagination-prev, .footer-inner__pagination-next {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-inner__pagination-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.80335 3.80515C10.063 3.54545 10.063 3.12439 9.80335 2.8647C9.54365 2.605 9.12259 2.605 8.8629 2.8647L4.19482 7.53277C3.93597 7.79162 3.93512 8.21075 4.19226 8.47065C4.19342 8.47183 4.19459 8.47301 4.19576 8.47418L8.86384 13.1423C9.12354 13.402 9.54459 13.402 9.80429 13.1423C10.064 12.8826 10.064 12.4615 9.80429 12.2018L5.60549 8.00301L9.80335 3.80515Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

.footer-inner__pagination-next {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.13526 2.8647C6.87557 2.605 6.45451 2.605 6.19481 2.8647C5.93511 3.12439 5.93511 3.54545 6.19481 3.80515L10.3961 8.00643L6.19477 12.2077C5.93508 12.4674 5.93508 12.8885 6.19477 13.1482C6.45447 13.4079 6.87553 13.4079 7.13523 13.1482L11.8039 8.47949C11.8049 8.47855 11.8058 8.47761 11.8068 8.47666C12.0665 8.21696 12.0665 7.79591 11.8068 7.53621L7.13526 2.8647Z' fill='%232D3440'/%3E%3C/svg%3E ");
}

