/* Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*, html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", san-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

a {
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  margin: 0;
  padding: 0;
  border-radius: 26px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  background-repeat: no-repeat;
}

.btn--transparent {
  background-color: rgba(252, 252, 252, .3);
}

.btn--white {
  color: #2D3440;
  font-weight: 700;
  background-clip: padding-box;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, .4);
  box-shadow: 0 4px 12px 1px rgba(45, 52, 64, 0.1);
}

.btn--pink {
  color: #FCFCFC;
  font-weight: 700;
  background-clip: padding-box;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, .3);
  box-shadow: 0 4px 12px 1px rgba(45, 52, 64, 0.1);
}

.title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

/* Header */
.nav__btn {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.nav__phone {
  font-weight: 700;
}

.nav__btn--search {
  background-image: url("/images/icons/search.svg");
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.nav__btn--enter, .nav__btn--cart {
  padding: 6px 16px 6px 40px;
  background-position: 16px;
}

.nav__btn--enter {
  background-image: url("/images/icons/log-in.svg");
}

.nav__btn--cart {
  background-image: url("/images/icons/cart.svg");
}

/* Hero */
.hero__slider-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.hero__slider-description {
  font-size: 18px;
  line-height: 24px;
}

.hero__slider-wrapper {
  position: relative;
  text-align: center;
}

.hero__slider-wrapper:before {
  display: block;
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__slider-btn {
  padding: 12px 32px;
}

.hero__slider-prev, .hero__slider-next {
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FCFCFC;
  border-radius: 50%;
}

.hero__slider-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.80335 3.80515C10.063 3.54545 10.063 3.12439 9.80335 2.8647C9.54365 2.605 9.12259 2.605 8.8629 2.8647L4.19482 7.53277C3.93597 7.79162 3.93512 8.21075 4.19226 8.47065C4.19342 8.47183 4.19459 8.47301 4.19576 8.47418L8.86384 13.1423C9.12354 13.402 9.54459 13.402 9.80429 13.1423C10.064 12.8826 10.064 12.4615 9.80429 12.2018L5.60549 8.00301L9.80335 3.80515Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
}

.hero__slider-next {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.13526 2.8647C6.87557 2.605 6.45451 2.605 6.19481 2.8647C5.93511 3.12439 5.93511 3.54545 6.19481 3.80515L10.3961 8.00643L6.19477 12.2077C5.93508 12.4674 5.93508 12.8885 6.19477 13.1482C6.45447 13.4079 6.87553 13.4079 7.13523 13.1482L11.8039 8.47949C11.8049 8.47855 11.8058 8.47761 11.8068 8.47666C12.0665 8.21696 12.0665 7.79591 11.8068 7.53621L7.13526 2.8647Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
}

.hero__footer-social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.2);
  background-color: transparent;
  background-position: center;
}

.hero__footer-social-link--vk {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14ZM14.5884 16.9749H13.8711C13.8711 16.9749 12.2885 17.0584 10.8948 15.7867C9.37486 14.3995 8.03249 11.647 8.03249 11.647C8.03249 11.647 7.95511 11.4665 8.03917 11.3793C8.13366 11.2812 8.39106 11.2749 8.39106 11.2749L10.1057 11.2651C10.1057 11.2651 10.2673 11.2888 10.3829 11.3632C10.4782 11.4246 10.5317 11.5394 10.5317 11.5394C10.5317 11.5394 10.8088 12.1536 11.1758 12.7093C11.8921 13.7942 12.2258 14.0315 12.469 13.9152C12.8233 13.7458 12.7171 12.3816 12.7171 12.3816C12.7171 12.3816 12.7236 11.8865 12.5387 11.666C12.3955 11.4951 12.1254 11.4453 12.0062 11.4313C11.9097 11.42 12.0681 11.2237 12.2733 11.1356C12.5819 11.0031 13.1268 10.9955 13.7706 11.0014C14.2722 11.0058 14.4165 11.0332 14.6127 11.0748C15.0677 11.1711 15.0536 11.4796 15.0229 12.1454C15.0138 12.3444 15.0032 12.5752 15.0032 12.8418C15.0032 12.9018 15.0012 12.9657 14.9991 13.0315C14.9885 13.3725 14.9763 13.7629 15.2324 13.908C15.3637 13.9822 15.6849 13.9191 16.4884 12.7233C16.8693 12.1566 17.1549 11.4902 17.1549 11.4902C17.1549 11.4902 17.2173 11.3715 17.3142 11.3205C17.4134 11.2685 17.5472 11.2845 17.5472 11.2845L19.3515 11.2746C19.3515 11.2746 19.8937 11.218 19.9815 11.4324C20.0735 11.6576 19.7788 12.1833 19.0417 13.0444C18.3463 13.8567 18.006 14.1587 18.0328 14.4236C18.0527 14.6198 18.2739 14.7957 18.7015 15.1436C19.5897 15.8661 19.8264 16.2455 19.8827 16.3357C19.8872 16.343 19.8906 16.3484 19.893 16.3519C20.2905 16.9296 19.4522 16.9749 19.4522 16.9749L17.8497 16.9944C17.8497 16.9944 17.5053 17.0543 17.0521 16.7814C16.8151 16.6388 16.5833 16.406 16.3626 16.1842C16.0251 15.8451 15.7131 15.5316 15.4469 15.6056C15.0002 15.7298 15.0143 16.5734 15.0143 16.5734C15.0143 16.5734 15.0175 16.7536 14.9157 16.8495C14.8051 16.954 14.5884 16.9749 14.5884 16.9749Z' fill='%23FCFCFC'/%3E%3Cpath d='M14 24C8.47715 24 4 19.5228 4 14H0C0 21.732 6.26801 28 14 28V24ZM24 14C24 19.5228 19.5228 24 14 24V28C21.732 28 28 21.732 28 14H24ZM14 4C19.5228 4 24 8.47715 24 14H28C28 6.26801 21.732 0 14 0V4ZM14 0C6.26801 0 0 6.26801 0 14H4C4 8.47715 8.47715 4 14 4V0Z' fill='%23FCFCFC' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}

.hero__footer-social-link--fb {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14ZM16.4286 14.9H15V20H12.7143V14.9H11V12.5H12.7143V10.82C12.7143 8.9942 13.816 8 15.3674 8C16.1103 8 16.8137 8.0582 17 8.084V10.1H16.1429C15 10.1 15 10.682 15 11.3V12.5H17L16.4286 14.9Z' fill='%23FCFCFC'/%3E%3Cpath d='M14 24C8.47715 24 4 19.5228 4 14H0C0 21.732 6.26801 28 14 28V24ZM24 14C24 19.5228 19.5228 24 14 24V28C21.732 28 28 21.732 28 14H24ZM14 4C19.5228 4 24 8.47715 24 14H28C28 6.26801 21.732 0 14 0V4ZM14 0C6.26801 0 0 6.26801 0 14H4C4 8.47715 8.47715 4 14 4V0Z' fill='%23FCFCFC' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}

.hero__footer-social-link--insta {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14ZM16.4732 8.036C15.8336 8.006 15.6302 8 14 8C12.3698 8 12.1664 8.0078 11.5268 8.036C10.8872 8.066 10.4528 8.1662 10.07 8.315C9.66946 8.46544 9.3066 8.70154 9.0068 9.0068C8.70128 9.30639 8.46514 9.66931 8.315 10.07C8.1662 10.4528 8.066 10.8872 8.036 11.5268C8.006 12.1664 8 12.3698 8 14C8 15.6302 8.0078 15.8336 8.036 16.4732C8.066 17.1122 8.1662 17.5478 8.315 17.93C8.46556 18.3305 8.70164 18.6933 9.0068 18.9932C9.30652 19.2986 9.6694 19.5347 10.07 19.685C10.4528 19.8332 10.8878 19.934 11.5268 19.964C12.1664 19.994 12.3698 20 14 20C15.6302 20 15.8336 19.9922 16.4732 19.964C17.1122 19.934 17.5478 19.8332 17.93 19.685C18.3304 19.5343 18.6932 19.2982 18.9932 18.9932C19.2987 18.6936 19.5348 18.3307 19.685 17.93C19.8332 17.5472 19.934 17.1122 19.964 16.4732C19.994 15.8336 20 15.6302 20 14C20 12.3698 19.9922 12.1664 19.964 11.5268C19.934 10.8878 19.8332 10.4522 19.685 10.07C19.5344 9.66955 19.2983 9.30674 18.9932 9.0068C18.6596 8.6738 18.326 8.4674 17.93 8.315C17.5472 8.1662 17.1122 8.066 16.4732 8.036ZM11.8787 11.8787C12.4413 11.3161 13.2044 11 14 11C14.7956 11 15.5587 11.3161 16.1213 11.8787C16.6839 12.4413 17 13.2044 17 14C17 14.7956 16.6839 15.5587 16.1213 16.1213C15.5587 16.6839 14.7956 17 14 17C13.2044 17 12.4413 16.6839 11.8787 16.1213C11.3161 15.5587 11 14.7956 11 14C11 13.2044 11.3161 12.4413 11.8787 11.8787ZM17.6803 10.3197C17.821 10.4603 17.9 10.6511 17.9 10.85C17.9 11.0489 17.821 11.2397 17.6803 11.3803C17.5397 11.521 17.3489 11.6 17.15 11.6C16.9511 11.6 16.7603 11.521 16.6197 11.3803C16.479 11.2397 16.4 11.0489 16.4 10.85C16.4 10.6511 16.479 10.4603 16.6197 10.3197C16.7603 10.179 16.9511 10.1 17.15 10.1C17.3489 10.1 17.5397 10.179 17.6803 10.3197ZM15.2728 12.7272C14.9352 12.3896 14.4774 12.2 14 12.2C13.5226 12.2 13.0648 12.3896 12.7272 12.7272C12.3896 13.0648 12.2 13.5226 12.2 14C12.2 14.4774 12.3896 14.9352 12.7272 15.2728C13.0648 15.6104 13.5226 15.8 14 15.8C14.4774 15.8 14.9352 15.6104 15.2728 15.2728C15.6104 14.9352 15.8 14.4774 15.8 14C15.8 13.5226 15.6104 13.0648 15.2728 12.7272Z' fill='%23FCFCFC'/%3E%3Cpath d='M14 24C8.47715 24 4 19.5228 4 14H0C0 21.732 6.26801 28 14 28V24ZM24 14C24 19.5228 19.5228 24 14 24V28C21.732 28 28 21.732 28 14H24ZM14 4C19.5228 4 24 8.47715 24 14H28C28 6.26801 21.732 0 14 0V4ZM14 0C6.26801 0 0 6.26801 0 14H4C4 8.47715 8.47715 4 14 4V0Z' fill='%23FCFCFC' fill-opacity='0.2'/%3E%3C/svg%3E ");
}

.pagination__link {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FCFCFC;
  opacity: 0.3;
}

.pagination__link--active {
  opacity: 1;
}

/* Promo */
.promo__item {
  max-width: 570px;
  padding: 40px;
  background-color: #FF7799;
  border-radius: 16px;
}

.promo__item:first-child {
  background-image: url("/images/raspberries.png");
  background-repeat: no-repeat;
  background-position: 374px 28px;
}

.promo__item:last-child {
  background-image: url("/images/marshmallow.png");
  background-repeat: no-repeat;
  background-position: 331px 19px;
}

.promo__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo__item-btn {
  padding: 12px 32px;
}

/* Popular*/
.popular__item {
  max-width: 270px;
  padding: 0 40px 28px;
  background-color: #FCFCFC;
  border-radius: 8px;
  text-align: center;
}

.popular__item-link {
  display: block;
  position: relative;
  text-align: center;
}

.popular__item-img {
  position: absolute;
  border-radius: 50%;
  left: 7.5%;
  top: -40%;
}

.popular__item-title, .popular__item-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.popular__item-title {
  padding-top: 113px;
}

.popular__item-btn {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.16667 1.25C0.798477 1.25 0.5 1.54848 0.5 1.91667C0.5 2.28486 0.798477 2.58333 1.16667 2.58333H2.93794L3.40537 4.91872C3.40821 4.93667 3.41176 4.95438 3.416 4.97182L4.38338 9.80515L4.3835 9.80571C4.46706 10.2257 4.69562 10.603 5.02921 10.8715C5.36111 11.1387 5.77595 11.2813 6.20183 11.2748H11.8225C12.2484 11.2813 12.6633 11.1387 12.9952 10.8715C13.3289 10.6029 13.5575 10.2254 13.641 9.80515L13.641 9.80515L13.642 9.80016L14.5691 4.93872C14.6063 4.74355 14.5545 4.54195 14.4279 4.38887C14.3012 4.23578 14.1129 4.14716 13.9142 4.14716H4.61072L4.1381 1.78583C4.07574 1.47426 3.80215 1.25 3.4844 1.25H1.16667ZM5.69098 9.54444L4.87759 5.4805H13.1084L12.3328 9.54736C12.31 9.65988 12.2485 9.7609 12.1591 9.83291C12.0691 9.90535 11.9565 9.94383 11.841 9.94162L11.841 9.94149H11.8282H6.19614V9.94137L6.18337 9.94162C6.06787 9.94383 5.95528 9.90535 5.8653 9.83291C5.77531 9.76048 5.71368 9.6587 5.69117 9.5454L5.69098 9.54444ZM4.55739 13.5054C4.55739 12.8175 5.1151 12.2597 5.80307 12.2597C6.49105 12.2597 7.04876 12.8175 7.04876 13.5054C7.04876 14.1934 6.49105 14.7511 5.80307 14.7511C5.1151 14.7511 4.55739 14.1934 4.55739 13.5054ZM10.9307 13.5054C10.9307 12.8175 11.4884 12.2597 12.1764 12.2597C12.8644 12.2597 13.4221 12.8175 13.4221 13.5054C13.4221 14.1934 12.8644 14.7511 12.1764 14.7511C11.4884 14.7511 10.9307 14.1934 10.9307 13.5054Z' fill='%23FCFCFC'/%3E%3C/svg%3E ");
  background-position: center;
  border: none;
}

/* About */
.about {
  padding: 24px;
  background-image: url("/images/wafer.jpg");
  border-radius: 16px;
}

.about__inner {
  background-color: #FCFCFC;
  border-radius: 16px;
}
